<nav>
  <h1><a href="/blogs" class="logo">Share.</a></h1>
  <ul>
    <% if(user){%>
    <li>Welcome, <span class="nav-email"><%=user.email%>></span>></li>
    <li><a href="/create">to Share!</a></li>
    <li><a href="/logout">Log out</a></li>
    <%} else{%>
    <li><a href="/login">Log in</a></li>
    <li><a href="/signup" class="btn">Sign up</a></li>
    <%}%>
  </ul>
</nav>
