<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <section class="about-share content">
      <img
        src="https://cdn.dribbble.com/users/114780/screenshots/7247971/media/251d95658ccf5c375c5008651cbc061d.gif"
        alt=""
      />
      <h1><span class="logo">Share</span> is to share)</h1>
    </section>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
